# =========================
# Build artifacts
# =========================
/build/
*.o
*.out
*.exe
pulsrr

test/

# =========================
# Generated video & frames
# =========================
*.mp4
sequences/
mixed_frames/
Frames_*/

# =========================
# Logs & runtime junk
# =========================
*.log
TODO.md
SDD.MD
# =========================
# Editor / IDE backups
# =========================
*~
*.swp
*.swo
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store

# =========================
# Temporary / cache
# =========================
*.tmp
*.cache

# =========================
# Debug and Perf
# =========================
perf.data
